.Board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BoxAdd {
  width: 5rem;
  margin: 0.5rem 0.5rem;
}

.BoxAddButton {
  border: 2px solid blue;
  margin: 5px;
}
