.Box-header {
  display: flex;
  justify-content: center;
}

.Box-header .Header-column {
  padding: 1rem 1rem;
  margin: 0.1rem 1rem 0.2rem 1rem;
}

.Box {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  marginBottom: .5rem;
  backgroundColor: white;
  cursor: move;
}
