.description-wrapper > * {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.description-wrapper {
  width: 150px;
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0 0 0 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.description-wrapper .description-input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.description-wrapper .description-input-data input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 1rem;
}

.description-wrapper .description-input-data input:focus {
  outline: none;
}

.description-wrapper .description-input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.description-input-data input:focus ~ label,
.description-input-data input:valid ~ label {
  transform: translateY(-20px);
  color: #4158d0;
  outline-width: 0;
  font-size: 0.6rem;
}

.description-input-data .description-underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.description-input-data .description-underline::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.description-input-data input:focus ~ .description-underline::before,
.description-input-data input:valid ~ .description-underline::before {
  transform: scaleX(1) translateX(-50%);
}
