.task {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: white;
  cursor: grab;
}

.task-duration-input {
  width: 4rem;
  margin: 0.5rem 1rem;
  padding: 0.2rem;
}
